language: android
env:
  global:
  - MALLOC_ARENA_MAX=2
  - secure: OKBv4/y2KX+d5LCBgMcPPkXbCJMCcRLsq3eG15y7qls3xfua1gURhaq0G9EgGJweM8obHm1B3xbKpFNg+HIzwiUW6a5H4a+GoS9m9QR3cKgG5GVfmBxYqjCWbPOqakyAsQQVol0ND0zTVin/BhfhVNPvC3MP7Aor2M0F+gRNb1YuB5kS6FtOAaM4hAsZ1WHNXV01FpqrPbM7QEoTI2CUMcFC7ow5bz1CzvRNysbEGcZUGbcfWXkCNmUz+3PYiHKzuiu2arDYXUMkjNwtILLEAgGWiTY6ZwCjPIot08aWkXvBvdiwas3BjVB0JeUmeZEGdZd7TYaldRMGQPsYKB4MnkGT8gpwQFpRY6Y08fuwJga2vcxXXSnjLJw08cp1Dd53JT5OPltE5iZwpjia6TEj33ZLs9OBPNAQtyGyPL0ARnhDEOTFCuECntEHKlX/a1Zv6HhDBe99qeZipR7Gh37vDSkEOthYaIrOEPuh8vTUHP/066D2U1r9kcgUovzT9aUBvDlOiDDuulcEgqMib4tNCaoPWC/Eq9rNOsFJIV3SU0DCtNN3ffMHuJp+0G+rycKs2ruBTskzTFmhEa11a6mM7x87nwo8JfFV0AnsW+5tDfejEVJ8XboW7Aj5giA802CHt2/c/firg2RZRh4HCw9/pheKNQzWID2JZZdTBb55KKs=
  - secure: yh6DtTT2s5rt9Y3i5DmpNuFxYQrSzJXTGYnTClswqS1SAjX6Tz+0T+Yfc8TpCoyFax+7TDRLSHo/EgeJmUc+IAVHGXTgxuJIANObe/S4npqfWnq30mn7PBq0R1cT5no+4ndTl11NQdhwldvafqRHVXliLDaKjnT+SrX7lQEvF7pmmYz9acEJu3mZCphvHSn1foFglTPTa6G/vsSChI0fNaUi0p7hRDPKl0Fx7jZWMdBlF6Yn0iiKh3k4AaQYrKdpKQKQHsgzPEHoACWemembZW6LfJcGOC/EgcSGfmx826o93iVDr6AJNOWFlofWcLc3X0DZVRkRqgDWhCuenwRw7eJmTyzRyRKF7XGzACNqdWJ3NCbm9sYiocqJBzMf1wmYdICVqqYYZx674QjrSL0/S6A4Lh7DutHNOyM4g75a8UwM/3ConQEfIUrlDQKgvqzf8czX97wc4SSds9WhDjjU4OTo096CsuOsygM3T+0DJS/eIIh1om5q2/cknKl9CKxq4vmiWNBqh4Hyvm9Pn5olfPBx1kfNIVpqPcOeO0IdQ/5h0kfauGKyI4LiR0ou4w9ZdEDbvrSIciLzhkWXMRjS6sI3yiKBMH+7DO2O+xTNIYvmGU8ea73rtBaRzROsZLpK6epjS/tHy6F+6mjVxMV+bxgKL1/KgvvawS2Fs+gHeEs=
  - secure: ybOHZUiV1HHyyt0Rl+M9GTfIYyYCvlUdresgG7tiIKAdvOspP4uedviCH23RvNBVqR/L6Uv1j8olxlNqe/BsonB2rFESVHt8ogv+melgua/P47FNJxYVfMB1JN9SLBxDOaLHQuXYo9lUkPOFchUOvzO+k3luwFKbbMuW5aQWP+t8QD6TUOXV2dAARa9aBhfv5ydD4mX01WIWPwTi16byVY8UXZRpXchMNzFwg1YnOg+Iq+pMJNcvsw5L1Fy4dvjPOwWwojsnvXEeRkksLBQFhjMa9axpg3m8Lb6eadlb4idKy/EptTdvWpkUo8W4wwucm7uCoH34lVhB5WRlSJax8jD1XqgS+JSHO7zKKqDe5nD1+dc91sDF+4eTOR0XNKGiFuuS5g1rD7E3qOT6BVJl1JleEoWfb0HYHjHEz0rJN9SuEKp4bzv3fonhYxF2ZTf/hG9yq2pXg8Jb7nBNnCjpTVA93pMAi12sPdw3jc1cE00IAOGDToQvaeqNp3uNzPY0ehdtx6Fb/1nfcrqgYr5NaYmxXxbZVO+Ho8LH60NTgj+N/yHWMeIHngLBhNJA6QipThtbHkZDo7LEj08kjFJ3h/Fft+CR8Z+eiFuzxN7JonFaHnUqJCYOnCDgbMdA1atUItGnTWTLuRcGPogwTV+L3VW3Ltqy7V999jNf6h4GMio=
  - secure: Se/hcpiMwmLprPnubURSOlZ8H/iEaqqGA3YpxM4pcI+eCbRFAv6GhqRUyGVWKHr4xx387EQng6+7vkuWUunMMoheEPeFStqph2qWoKsgy2x7LMhKaD6vyAxrd2/SHvyoUvO8AfxSMA1T/YSxeafTOCdhbG4u05wQbXEC/RX5o+SQsh5hugk1fvVFSE/568+FGsC3RNgqZaVvloN7tt6QaYoTesUqqfe6/6KM+N9AYW7jrPuSFamlk0ySQZhteu8Q+MUSGPVB0rI0WSS7lawhShziXDImpcghLEH48EpirA5Q+PYTfUzGpAZ4s4sgoj9HS7X0K4U9ND+MGVuuqIimEzbQnrPyOawBewpxEYtiezv6vSY/kkvNl1jNWKY7QGLL8QPtJOl3GiTtHwKSvuicRGIp6RyhXoZrQaNAezQSJm8V3khXMzhKEp8XTzfGQ6KDPidNRrW9baBHAbb0dXko7UI7w8UtcP7exz1HliGRgK9m28FWUWx720ig/Z+VUyWYCJdEokxjixw738a1Of7V3ICvvr1uekP6MwOe7KHCUou8dTPHHmuoUwJYajdaiSIbSGk6r+ymK/WFgWHdu2rccUZC8KmlmJT+5SHXJWZ/VldOUe+RHM7zUC4jp4nJ/OaTA5itcMolf6QGBLnQUHr73QYMzDTgLgqR06icnMzZOSs=
  - secure: 3Ls5r+So08/sKk8XY6xq3ZJf2U7CeRmGmQ7aYW4ui80lAJtzjsT7Hwfc0YWIXL6mYIRjrA/ZAn0sNaruq2m4VxzH6znnWUIiJfYGqXn5qJWSW7OG14UrFsrJVqWogv0rmtsHZQ0VuRMnrXOMzUrjVSs7ISgskAFNRaXgLKLphWlg/jU0NtEKe82lahbZdWDdhWMBuHWrk1xpVZuMJ4DK3Tr0aLSbUFpU648MoPuQIMIQzTRGc+VtNNb+9MzBD0/wZsdeTbcZiaN9Xl3nZmN/vWVvQeRuCW4c2hglnpQtX/9mXSLd+buADWLJ8yBCtbHC6OjtdhqLclC9dLvvH0Pdl73BcYMGiWAhvD3ctE1KwOGd2uRlIlaWh4sKcEVcmHkfJext4qFNLi6ZFu8t9HO2xaRVCGdqQA+FH8fD4q+TlX4NFt7gzCETCfpV8gE8dUwWoXi+AunR+9If+ySUOzVNDTtkdIRAkwbytC7paXM56vDhX0c/riM2u+5VPqSk7iKQG7OvFTUnY9V5i/W3ZPRmH2O+BlMtppVi6KujXnQerwvvFacO4N67Dkh6o8jkL8pygSi2IOR8nn9hDBoj42CvaXsZK+IAIpOn81tGhwZEnpIr8QRMutRKmLi81uvk7IcW8tpy3cRU9shFwykUVuuL/vzYgYEiDExNJrkBxqfp9xY=
  - secure: mqdQCsRVbJ2fwLbtGSgAofzPEYJxrBivzQgVTCEVSAdM6VD/7Zkhgl7U03tFcPzcfbZRcTu6XspQLSJ7KDD20JU3HZWIjEsLyJVkQLlgiXikZu2wJzjjb+D2FgQzagSOURii4bePp+8/XKoUWWIWHXbet6rAx3vl0wQ45pWUGV5jgBdr6/MOxv2/5Ty1GnpCNQxc7HvtCfdYsl/x2lrJOTD4OnxlF8MT7IR13P5Iw7wr9AcWgzxf+9V0ZSYoNsF2DgLSy8jMoov/gkjJHLINPgSMy48q0gG8ZLo7D5bYZmhp2Zq/3t3H/HRcbc6iTAD6MrUvNj4M72tmrwSywdpm9oLA6/nIz1tDPZXpOCXJSZSvoFj9OpUXfUYw3v1qcO5IP3HPdktfcCwUg57fvWUrSuKWy51LAIjD5ijc6xBwbDaGjGMiuudaRGW6+EQDuW8aGXkRBtLsUG5alL2Ag0+t01ORNrw6PoECoS5bAzlYVD18N1HUKyW5uhWPPqaGquSe2a5Gq9HxjrpcLo3aKs+21EWurLHb8Q3S+voMunGFlTlwSdiilX+GSAcRNFMVGPFjlB2S4ogZpXOFzqEyw4FMvC5IjVFw+jHmuR204E7lEyKXQBR8Ip0kUpPaUi657qzXdERuFXkBW5m68RJjBTNZS8S5B3+zNJXEH1Pwl8NSA90=
  - secure: p7yLO55lpR3XTPIfafqQYjVviM2s01tr3bD3POVDSyAnz+trgbIgUUquofFw5M5Apet9zbBbylHgyuVWK9F11c30EH6KsHo5yy/pXH6QUfjCftErJl7ewwK+eCM5SPUi6PA6OrPjHclacPNil0e3zCxfqp/qikguqEZ02DY0wyNRgIdt7I0qb27fVktXgSotwoJ7jdAOg1MvGd3McRmW/xbHsoQJHiB1d8HwUnJ76NnntWXFI1KCEPHBUjkYcwjEWhLGryDdRCl9toGQTcO/L+Eh3221KNyhiYPTBFpSmtNxGdyv1bjXRio7K0/qyuHvrBEuTUWe3udUsa2e+F2DW9kyHCvoB3vdFnbCrjup7WuPbxBViDHlZ1Y1CIwB7WcJzN5An4aD7a9gCZ8tHWYX1ZMVmMMo5GJAM5o904EoMj8cHgMPVsTm9bScyRGLKishoFSKaR7DAjyCai4mGLCB7H/mxZLHZJdRsUtBfytO9Tz3bn5SlEUb336NaOHabYDtICnuZW7LKWM1qVFJaOP/17OoeKjXBw4b4MH6K9xa75X5ZezVjBclISc7vFeJ8v6dRcPiiWNit23lJhDIxROiey1PPtHOALeRBkng9pbyg9o5eIvN4ddIrm+ZS+uzHCxPX7VpquDKX9HqxNLYSsDi5iUAfbrgji7S+GXKms8LWe0=
  - secure: 21h4HegHyzyBvM3faewMzhnopuiIE0iBEdA/IsEhXv5jlVGqOSNgqjnsIQgecYQYlFF79tmESBeA0I0xtA9BPrtHt0UVUhbO2dkAthw14ibSEWU1l3ZzNpvWhTYR2YYEQ0LY4mrDfKQe0yFwFK8C/uxzBeEElN+tWgxCkr71rIw62hTVnfFTwo1B+h+XKjuWukU5Uywg3LEF2ipT7EW3s+sMFV/0HF28DyT3xSNSTXDN+Ua3hxl5GQ3zdgsHjstXkRk/qKI733sZ+6oymbX1pOWqj6YJT0D9p3uTC6g7wJxk0FBrWU0KGAPZo4F4isfIfdoytqtj+cz8lC/hFHn9DTtgrytcy/na09HLWDUmErfV6Gu4dzZVhlLNYznS1G3v+8gDw8toPSGH8pLQDz66USRz+33E5KhygO0QrKVwgNcGh3mNliZnIQUKVkaIkULn8S96rih0U6sbMoHTivepBHpJG1OjUBIBk9Xcm5Lo0UAcPkgrDzGTw2UESzvOXU8OVerqrnRaQ0w/IKdEtjMAzItxe1vFe6KAvaAk/R+hWTraN+z9BXzAQTU2IXF2NkPBq/StPjijGaehEdfGooa6YHBrSrA96RzE4+1/EfU+vtaEasoP7FHQkkWMWG3qVeswu9r+jC9xfSSHPVnzufGh9maoJXnmbw8pRvKKn3esrHg=
  matrix:
  - ANDROID_SDKS=android-19,sysimg-19 ANDROID_TARGET=android-19 ANDROID_ABI=armeabi-v7a
    ENABLE_GPL_THIRD_PARTIES=0 BUILD_VIDEO=1 BUILD_OPENH264=1 ENABLE_OPENH264_DECODER=1
    BUILD_X264=0 BUILD_AMRNB=full BUILD_AMRWB=1 BUILD_ZRTP=1 BUILD_SILK=1 BUILD_G729=1
    BUILD_TUNNEL=0 BUILD_WEBRTC_AECM=1 USE_JAVAH=1 BUILD_FOR_X86=1 BUILD_SQLITE=1
    BUILD_TLS=1 BUILD_WEBRTC_ISAC=1 BUILD_OPUS=1 BUILD_UPNP=1 BUILD_MATROSKA=0 BUILD_ILBC=1
sudo: false
addons:
  apt:
    packages:
    - yasm
    - nasm
    - curl
    - ant
    - rsync
    - autoconf
    - automake
    - libtool
    - pkg-config
    - bc
    - libwww-perl
    - ruby
cache:
  apt: true
  bundler: true
  ccache: true
  directories:
  - $HOME/.ccache
before_install:
- if [ `uname -m` = x86_64 ]; then wget --timeout=120 http://dl.google.com/android/ndk/android-ndk-r10e-linux-x86_64.bin
  -O ndk.bin ; else wget --timeout=120 http://dl.google.com/android/ndk/android-ndk-r10e-linux-x86.bin
  -O ndk.bin ; fi
- chmod 755 ndk.bin ; ./ndk.bin 2>&1 | grep -v Extracting
- export ANDROID_NDK=$PWD/android-ndk-r10e
- export PATH=${ANDROID_NDK}:${ANDROID_NDK}/ndk-build:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools:$PATH
- export NDK_CACHE=ccache
- export ANDROID_MOST_RECENT_TARGET=android-19
- which bundler || gem install bundler
- bundle install
android:
  components:
  - build-tools-19.1.0
  - build-tools-20.0.0
  - build-tools-22.0.1
  - android-19
  - android-20
  - android-22
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
  - addon-google_apis-google-19
  - addon-google_apis-google-20
  - addon-google_apis-google-22
before_script:
- echo "Starting to update submodules"
- if [ ! -d submodules/linphone/oRTP/.git ]; then rm -fr submodules/linphone/oRTP/
  ; git clone git://git.linphone.org/ortp.git submodules/linphone/oRTP ; fi
- if [ ! -d submodules/linphone/mediastreamer2/.git ]; then rm -fr submodules/linphone/mediastreamer2/
  ; git clone git://git.linphone.org/mediastreamer2.git submodules/linphone/mediastreamer2
  ; fi
- if [ ! -d submodules/mswebrtc/webrtc/.git ]; then rm -fr submodules/mswebrtc/webrtc/
  ; git clone git://git.linphone.org/webrtc.git submodules/mswebrtc/webrtc ; fi
- git submodule update --init --recursive
- echo "Finished updating submodules"
- android list target -c
script:
- ./Tools/git_version.sh
- ./Tools/travis_script.sh
after_success:
- ./Tools/release.sh
notifications:
  flowdock:
    secure: eD1JpGzIf8paOU14pFK1G3VUXDLBiybGHf0WHX8spmvfSo3O5n3xFEq0qrcc6bAuXxrhSVRqt9k2fKQshRf/rfgkRjmcwXtvyLYH6gND3RxnMbicAUJCNXFMSEEPKPEGtWXUM2soDgNm7q0vc32wpRJLq+iDjZAHuBYgaJXIW6wI4Ny3HSiHzIBNF7sKpH6uVDCSwVYotfuT8zqQRUHw9C1Ed+Cs10/w7eH0F2l79RsNhepxaV2F3bQQzsMfHffAtMg+j1lzGayQlOObi0qrI0TkRHLqgp6H0F/cFq+QBFXtQqyhdO3VTYNW2Iju8dJCx55Ns9a3fzXyejvXAPmqmKEH+BHj0Yde9KaRVVHW0+os1ZPBOLyUm9jOUcpFaz13jMmQNigazszq9+AYyrvIQYewDr306W5t8ELbz6GDVRNcxVwU8djwL1Qi1OQb5emawgV3NOnsWD4x+aBI7V+QJZr5epweUwfkxnf+4IiCO0mAvlcB3bfNbO0G/M4R+l0UMc2llrbYpy94NCj3qackkghxI7E6KL6ByzOCcHBDBGW2uhGwu4mlLjv5WFutS7R5wX1yzNSD0sbJDV7UOonGgPQIXrgUeGCijEaNm/NB70VX4YRJbaxDDzkZTB29E/psigIqJf72hJB6zho/p72wPAWFzLeWlnoHLQCJqG0M+2w=
